*
.container .row{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    margin: 4px;
    background-color:blue;
    text-align: center;
    border: 2px solid orange;
}