* {
	margin: 0px;
	padding: 0px;
  }

  #container.clickdetectado {
	left: 0px;
  }
  
  
  #container {
	position: fixed;
	width: 200px;
	height: 100%;
	background: blue;
	left: -200px;
	transition: all 2s linear;
  }
  #container ul li h3 {
	color: green (200, 200, 200, .4);
	padding: 15px 15px;
	border-bottom: 1px solid orange (100, 100, 100, .3);
	text-align: center;
  }
  
  
  
  #container .toggle-btn {
	position: absolute;
	top: 10px;
	left: 400px;
	cursor: none; 
  }
  
  #container .toggle-btn span {
	display: block;
	width: 70px;
	text-align: center;
	font-size: 50px;
	border: 3px solid violet;
  }